header {
    top: 0px;
}

body {
    background-color: #666666;
}

div.center {
    width: 100%;
    margin-top: 50px;
    text-align: center;
}

div.wins, div.loses, div.tries, div.font, div.letters {
    font-weight: bolder;
    display: inline-block;
    padding: 10px;
    background-color: #ffffff;
}

div.goodguesses {
    text-align: left;
    background-color: #77ff77;
    text-transform: lowercase;
    width: 350px;
    margin: 0 auto;
    padding: 10px;
}

div.badguesses {
    text-align: left;
    background-color: #ff7777;
    text-transform: lowercase;
    width: 350px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 10px;
}

div.font {
    padding: 0px;
    padding-bottom: 10px;
}

div.image {
    margin: 0 auto;
    width: 550px;
    background-color: #ffffff;
    text-transform: uppercase;
}

div.head {
    min-width: 550px; 
    background-color: #ffffff;
    text-align: center;
    text-transform: uppercase;
}

img.pic {
    border: solid 3px;
    border-color: #666666;
}

span.green, span.red {
    clear: both;
    text-align: left;
    font-weight: bolder;
    text-transform: none;
    padding: 5px;
}

div.word {
    padding: 20px;
}

div.texture {
    background: url(..assets/images/tile.jpg)
}

h1 {
    padding-top: 10px;
    margin: 0px;
}