body {
    min-width: 380px;
    background-color: #666666;
}

div.main {
    max-width: 500px; 
    min-width: 360px;
    margin: 0 auto;
}

div.center {
    margin: 0 auto;
    text-align: center;
}

div.wins, div.loses, div.tries, div.font, div.letters {
    display: inline-block;
    padding: 10px;
    font-weight: bolder;
}

div.goodguesses {
    text-align: left;
    background-color: #77ff77;
    text-transform: lowercase;
    margin: 0 auto;
    padding: 10px;
    margin: 0 auto;
    margin: 10px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}

div.badguesses {
    text-align: left;
    background-color: #ff7777;
    text-transform: lowercase;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 10px;
    margin: 0 auto;
    margin: 10px;
    margin-top: 0;
    text-transform: uppercase;
}

div.font {
    padding: 0px;
    padding-bottom: 10px;
}

div.image {
    margin: 0 auto;
    background-color: #cccccc;
    text-transform: uppercase;
    height: 100%;
}

#pic {
    min-height: 356px;
}

img.pic {
    border: solid 3px;
    border-color: #666666;
}

div.select {
    display: inline-block;
    background-color: black; 
    color: white;
    font-weight: bolder;
    padding: 10px;
    margin: 5px;
    min-width: 50px;
}

div.select:hover {
    cursor:pointer;
}

div.shuffle:hover{
    cursor:pointer;
}

div.green {
    background-color: darkgreen;
}

div.red {
    background-color: darkred;
}

div.green:hover {
    cursor: default;
}

div.red:hover {
    cursor: default;
}

#emph {
    color: blue;
}

span.green, span.red {
    clear: both;
    text-align: left;
    font-weight: bolder;
    text-transform: none;
    padding: 5px;
}

div.word {
    padding: 20px;
}